.Contact {
    background: #FFFFFF;
    display: flex;
}

.Contact_Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.Contact_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: auto auto 8px;
}

.Contact_Subtitle {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin: auto;
}

.Contact_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.Contact_Label {
    display: flex;
    flex-direction: column;
}

.Contact_Label_Title {
    width: fit-content;
    font-family: Quicksand, serif;
    z-index: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 0 -7px 16px;
}

.Contact_Input {
    height: 40px;
    width: 608px;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    padding: 0 16px;
}

.Contact_TextArea {
    height: 200px;
    width: 608px;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-align: left;
    padding: 12px 16px;
    resize:none;
}

.Contact_Input::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.Contact_Input:focus {
    outline: none !important;
    border: 2px solid #777777;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.05);
    border-radius: 8px;
}

.Contact_TextArea::placeholder {
    color: #CCCCCC;
    opacity: 1;
}

.Contact_TextArea:focus {
    outline: none !important;
    border: 2px solid #777777;
    box-shadow: 0 3px 4px rgba(51, 51, 51, 0.05);
    border-radius: 8px;
}

.Contact_Submit {
    height: 40px;
    background-color: #FF5757;
    border-radius: 20px;
    border: 0 solid white;
    cursor: pointer;
    font-family: Quicksand, serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 0 40px;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
}
