.Home {
    width: 100%;
    height:100vmin;
    background: #FF5757;
    display: flex;
}

.Home_Content {
    padding-top: 80px;
    margin: auto;
    display: flex;
    gap: 5%;
}

.Brand_Container {
    width: 30%;
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Brand_Subtitle {
    font-family: Quicksand, serif;
    font-size: 1vw;
    font-weight: 400;
    color: white;
    margin-bottom: 8px;
}

.Brand_Title {
    font-family: Quicksand, serif;
    font-size: 3.25vw;
    font-weight: 600;
    color: white;
    margin: auto auto 24px auto;
    letter-spacing: 0.05em;
}

.Brand_Description {
    font-family: Quicksand, serif;
    font-size: 0.8vw;
    font-weight: initial;
    line-height: 32px;
    color: white;
    margin: auto auto 32px auto;
}

.Brand_Action {
    height: 2.5vw;
    border: 2px solid white;
    border-radius: 28px;
    display: flex;
    cursor: pointer;
}

.Brand_Action_Text {
    font-family: Quicksand, serif;
    font-size: 0.75vw;
    font-weight: 600;
    color: white;
    margin: auto 24px auto 24px;
}

.Decoration {
    width: 27.5%;
    max-height: 35vw;
    margin: auto auto auto 0;
    position: relative;
    display: flex;
    flex-direction: row;
}

.Decoration_Image_Container {
    max-height: 80%;
    display: flex;
    background: linear-gradient(212.62deg, #FF8C8C 0%, #FF5757 100%);
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    border-radius: 8vw;
    overflow: clip;
}

.Decoration_Image {
    width: 85%;
    overflow: clip;
    margin: 10% auto auto auto;
}

.Decoration_Emoji_Left {
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 17.5%;
    left: -2.5vw;
    background: white;
    border-radius: 50%;
    display: flex;
}

.Decoration_Emoji_Right {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 17.5%;
    right: -2.5vw;
    background: white;
    border-radius: 50%;
    display: flex;
}

.Decoration_Emoji {
    width: 2.5vw;
    margin: auto;
    font-family: Quicksand, serif;
}