.Description {
    background: #FAFAFA;
    display: flex;
}

.Description_Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px 240px 80px 240px;
}

.Description_Subtitle {
    font-family: Quicksand, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FF4040;
    margin-bottom: 8px;
}

.Description_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 16px;
}

.Description_Text {
    width: 75%;
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 0;
}

.Description_Features_Content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 56px;
}

.Description_Features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 32px;
    flex: 1;
    margin: auto 32px auto auto;
}

.Description_Features_Grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 32px;
}

.Feature {
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.Feature_Title_Container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 16px;
    margin-left: 16px;
}

.Feature_Emoji {
    width: 22px;
    height: 22px;
}

.Feature_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin: auto auto auto 8px;
}

.Feature_Description {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 8px 16px 16px;
    overflow: auto;
}

.Description_Image_Container {
    width: 480px;
    height: 480px;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    border-radius: 16px;
    margin: auto 0 auto auto;
    overflow: clip;
}

.Description_Image {
    width: 100%;
}
