.FAQ {
    background: #FAFAFA;
    display: flex;
}

.FAQ_Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.FAQ_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: auto;
}

.FAQ_Questions_Content {
    width: 80%;
    display: flex;
    margin: 48px auto auto;
}

.FAQ_Questions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 40px;
    flex: 1;
    margin: auto 32px auto auto;
}

#expandable-question {
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
}

#expandable-question.CollapsedQuestion {
    height: 64px;
    transition: all 400ms ease;
}

#expandable-question.ExpandedQuestion {
    height: 140px;
    transition: all 400ms ease;
}

.Question_Container {
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 0;
}

.Question_Text {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: auto auto auto 24px;
    user-select: none;
}

.Question_Chevron {
    width: 12px;
    height: 12px;
    margin: auto 32px auto auto;
    user-select: none;
}

#expandable-response {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: 24px;
    margin-right: 24px;
    user-select: none;
}

#expandable-response.ExpandedResponse {
    color: #333333;
    transition: all 200ms ease;
}

#expandable-response.CollapsedResponse {
    color: transparent;
    transition: all 200ms ease;
}