.FAQ {
    background: #FAFAFA;
    display: flex;
}

.FAQ_Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.FAQ_Title {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: auto;
}

.FAQ_Questions_Content {
    width: 80%;
    display: flex;
    margin: 48px auto auto;
}

.FAQ_Questions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 40px;
    flex: 1;
    margin: auto 32px auto auto;
}

.Question {
    background: #FFFFFF;
    border-color: transparent;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}

.Question_Container {
    width: 100%;
}

.Question_Align {
    display: flex;
    flex-direction: row;
    min-height: 56px;
}

.Question_Text {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin: auto auto auto 24px;
    user-select: none;
}

.Question_Chevron {
    width: 12px;
    height: 12px;
    margin: auto 32px auto 0;
    user-select: none;
}

.Answer_Container {
    margin-left: 24px;
    margin-right: 24px;
    user-select: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease;
}

.Answer {
    font-family: Quicksand, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #333333;
    margin-top: 0;
}
