.Price {
    display: flex;
    flex-direction: column;
}

.Price_Top_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFBC57;
    padding-top: 80px;
    padding-bottom: 80px;
}

.Price_Subtitle {
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.Price_Title {
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 112px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
}

.Price_Text {
    width: 480px;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

.Price_Bottom_Content {
    background: rgba(255, 188, 87, 0.6);
}

.Price_Features {
    margin: 64px 120px 64px 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 48px;
}

.Price_Feature {
    height: 144px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.Price_Feature_Title_Container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.Price_Feature_Emoji {
    width: 22px;
    height: 22px;
}

.Price_Feature_Title {
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin: auto auto auto 8px;
}

.Price_Feature_Description {
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    overflow: auto;
}
