.Header {
  height: 80px;
  background-color: #DD4343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logo_Container {
  display: flex;
  margin-left: 240px;
}

.Logo_Image {
  height: 32px;
  pointer-events: none;
  margin: auto;
}

.Logo_Name {
  font-family: Quicksand, serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: auto auto auto 8px;

}

.Page_Navigation_Container {
  display: flex;
  margin-right: 240px;
}

.Page_Style {
  font-family: Quicksand, serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
  margin: auto;
  cursor: pointer;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.Google_Login {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.25);
  margin: auto auto auto 48px;
}

.Google_Image {
  width: 24px;
  height: 24px;
  margin: auto;
}

.Facebook_Login {
  width: 40px;
  height: 40px;
  background: #6081C4;
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.25);
  margin: auto auto auto 16px;
}

.Facebook_Image {
  width: 24px;
  height: 24px;
  margin: auto;
}

.Normal_Login {
  height: 40px;
  background: white;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.25);
  margin: auto auto auto 16px;
}

.Normal_Login_Text {
  font-family: Quicksand, serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: auto 32px 10px 32px;
}